<footer class="f-info border-top">
  <div class="f-social-icons">
    <a class="f-link" href="https://www.linkedin.com/in/siva-venkata-pavan-naramala-807235261/">
      <i class="fa-brands fa-linkedin" href></i>
    </a>
    <a class="f-link" href="https://github.com/NSVPavan/">
      <i class="fa-brands fa-github"></i>
    </a>
    <a class="f-link" href="https://www.facebook.com/SivaVenkataPavan/">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    <a class="f-link" href="https://www.instagram.com/_n.s.v.pavan_56/">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
  <div class="f-brand">&copy; 2024 CozyNest,Inc.</div>
  <div class="f-docs">
    <a class="f-link" href="/privacy">Privacy</a>&nbsp;&#183;
    <a class="f-link" href="/terms">Terms</a>
  </div>
</footer>
