<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h1>All listings:</h1><br>
    <ul>
        <% for(listing of all_listings){%>
           <li><a href="/listings/<%- listing._id %>"><%- listing.title %></a></li>
        <% }%>
    </ul>
</body>
