body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.body-container{
    flex:1;
}
.navbar{
    height: 80px;
    font-size: 1.2rem;
    margin-bottom: 50px !important;
}
.f-link{
    text-decoration: none ;
    color: #222222;
}
.f-info div{
    width: 100%;
}
.f-info{
    padding-top:16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height:90px;
    background-color: #f7f7f7;
}
.f-social-icons{
    font-size: 1.2rem;
}
.f-social-icons a{
    margin-right: 6px;
}
.f-brand{
    font-size: 1.2rem;
}
.f-docs{
    font-size: 14px;
}
.card-container{
    padding-left: 40px !important;
}
.card{
    border:none !important;
    /* width: 350px !important;
    height: 450px !important; */
}
.card-title{
    font-weight: bold;
}
.card-text{
    margin: 0px !important;
}
.card-img-top{
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 1rem !important;
    height: 326px !important;
}
.card-img-overlay{
    opacity:0;
    transition: background-color 0.5s 0s;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.card-link{
    text-decoration: none;
    padding: 0px;
    width: 350px !important;
    height: 450px !important;
    margin: 6px;
}
.add-btn{
    margin-top: 40px !important;
}
.red-color-bg{
    background-color: #ff385c !important;
    color:white !important;
}
.red-color-text{
    color:#ff385c !important;
}
.edit-btn{
    background-color: #ff385c !important;
    color:white !important;
    border:none !important;
}
.edit-btn,.delete-btn{
    max-width: 100px;
}
.show-card{
    height:500px !important;
    font-size: 1.4rem;
}